openapi: 3.0.3
info:
  title: EdgeOps AI Platform API
  version: 1.0.0
  description: |
    Current HTTP-facing API surface for the EdgeOps AI platform.

    This specification covers the routes that are currently exposed through the
    active deployment model:

    - Streamable HTTP MCP on the `api` surface
    - REST helper routes mounted on the MCP server
    - Auth and identity endpoints used by the root portal and Nginx
    - VCO dashboard API routes used by the root portal
    - Proxy health routes used by the root portal

    Historical or auxiliary server variants that are not part of the current
    deployed environment model are intentionally excluded.
servers:
  - url: https://api.edgeopsai.velocloud-prod.arista.com
    description: Production public API gateway via Nginx to the MCP server
  - url: https://edgeopsai.velocloud-prod.arista.com
    description: Production root portal domain exposing auth, VCO, and health proxy routes
  - url: https://api.edgeopsai.velocloud-nonprod.arista.com
    description: Nonprod/dev public API gateway via Nginx to the MCP server
  - url: https://edgeopsai.velocloud-nonprod.arista.com
    description: Nonprod/dev root portal domain exposing auth, VCO, and health proxy routes
  - url: http://127.0.0.1:8506
    description: Internal MCP server listener on the production VM
tags:
  - name: MCP
  - name: Auth
  - name: Portal Firewall Requests
  - name: VCO Dashboard
  - name: Admin
  - name: Health
paths:
  /mcp:
    post:
      tags: [MCP]
      summary: Streamable HTTP MCP endpoint
      description: |
        Primary MCP transport endpoint used by clients to initialize sessions,
        list tools, and call tools over JSON-RPC-like request bodies.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpRequest'
      responses:
        '200':
          description: MCP response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpResponse'
        '500':
          description: Internal MCP error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health:
    get:
      tags: [Health]
      summary: MCP server health
      responses:
        '200':
          description: Current MCP health and rate-limiter status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpHealthResponse'

  /tools:
    get:
      tags: [MCP]
      summary: List registered MCP tools
      responses:
        '200':
          description: Tool catalog used by the root-domain tool browser
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/McpTool'
        '500':
          description: Tool catalog lookup failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /capabilities:
    get:
      tags: [MCP]
      summary: Return server capabilities
      responses:
        '200':
          description: Streamable HTTP capability metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitiesResponse'

  /auth/token:
    post:
      tags: [Auth]
      summary: Issue an internal JWT for admin/API usage
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
      responses:
        '200':
          description: JWT issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Auth users not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/whoami:
    get:
      tags: [Auth]
      summary: Resolve the current browser user's identity and role
      description: |
        Used by the root portal after OAuth2 Proxy authentication. Identity is
        derived from the forwarded `X-Email` header and config-backed role maps.
      responses:
        '200':
          description: Current effective identity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoAmIResponse'

  /auth/role-check:
    get:
      tags: [Auth]
      summary: Check if a user email may access a subdomain
      parameters:
        - in: query
          name: email
          required: true
          schema:
            type: string
            format: email
        - in: query
          name: subdomain
          required: true
          schema:
            type: string
            enum: [chat, docs, capacity, api, inspector, portal]
      responses:
        '200':
          description: Access allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCheckResponse'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCheckResponse'

  /api/tools:
    get:
      tags: [MCP]
      summary: Root-domain proxy to the tool catalog
      responses:
        '200':
          description: Same payload as `/tools`
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/McpTool'

  /api/health/mcp:
    get:
      tags: [Health]
      summary: Portal health proxy for the MCP server
      responses:
        '200':
          description: MCP health
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpHealthResponse'

  /api/health/chat:
    get:
      tags: [Health]
      summary: Portal health proxy for LibreChat
      responses:
        '200':
          description: Upstream reachable
          content:
            text/html:
              schema:
                type: string

  /api/health/docs:
    get:
      tags: [Health]
      summary: Portal health proxy for Docmost
      responses:
        '200':
          description: Docmost health payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/health/capacity:
    get:
      tags: [Health]
      summary: Portal health proxy for the capacity dashboard
      responses:
        '200':
          description: Capacity dashboard reachable
          content:
            text/html:
              schema:
                type: string

  /api/health/inspector:
    get:
      tags: [Health]
      summary: Portal health proxy for MCP Inspector
      responses:
        '200':
          description: MCP Inspector reachable
          content:
            text/html:
              schema:
                type: string

  /api/health/vco:
    get:
      tags: [Health]
      summary: Portal health proxy for VCO dashboard data
      responses:
        '200':
          description: VCO dashboard API reachable
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/firewall-requests/velops:
    post:
      tags: [Portal Firewall Requests]
      summary: Create a VELOPS firewall ticket from the portal form
      description: |
        Authenticated same-origin portal endpoint for the internal firewall
        request demo. The caller identity is taken from the forwarded
        `X-Email` header after OAuth2 authentication on the portal domain.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VelopsFirewallRequest'
      responses:
        '200':
          description: Ticket created, with optional partial attachment failure details
          headers:
            X-Request-ID:
              description: Server correlation id for submission diagnostics
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VelopsFirewallRequestResponse'
        '400':
          description: Validation failure on required fields or unsupported protocol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing authenticated portal identity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Jira issue creation failed before a VELOPS key could be returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/vco/dashboard:
    get:
      tags: [VCO Dashboard]
      summary: Aggregated VCO dashboard payload
      parameters:
        - in: query
          name: vco
          required: false
          schema:
            type: string
          description: Optional specific VCO FQDN
      responses:
        '200':
          description: Aggregated gateway and enterprise data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VcoDashboardResponse'
        '500':
          description: Aggregation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/vco/health:
    get:
      tags: [VCO Dashboard]
      summary: VCG health and detail endpoint
      parameters:
        - in: query
          name: gateway
          required: false
          schema:
            type: string
          description: Optional gateway name for lazy detail mode
      responses:
        '200':
          description: Tunnel counts or gateway detail depending on query
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VcoHealthSummaryResponse'
                  - $ref: '#/components/schemas/VcoGatewayDetailResponse'

  /api/vco/fleet:
    get:
      tags: [VCO Dashboard]
      summary: Fleet-wide VCO summary across configured instances
      responses:
        '200':
          description: Fleet-wide VCO summary
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/vco/search-enterprise:
    get:
      tags: [VCO Dashboard]
      summary: Search enterprises across all VCOs
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
            minLength: 2
      responses:
        '200':
          description: Matching enterprises
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  total:
                    type: integer
                  truncated:
                    type: boolean
                  error:
                    type: string
                    nullable: true

  /api/vco/pop-maintenance-impact:
    get:
      tags: [VCO Dashboard]
      summary: Return maintenance impact for a POP
      parameters:
        - in: query
          name: pop
          required: true
          schema:
            type: string
          description: POP code such as ATL3 or SJC1
      responses:
        '200':
          description: POP maintenance impact payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/vco/maintenance-impact:
    get:
      tags: [VCO Dashboard]
      summary: Return maintenance impact for a VCO
      parameters:
        - in: query
          name: vco
          required: true
          schema:
            type: string
          description: VCO FQDN or dashboard identifier
      responses:
        '200':
          description: VCO maintenance impact payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/vco/blast-radius-targets:
    get:
      tags: [VCO Dashboard]
      summary: Return target lists for VCO blast-radius views
      responses:
        '200':
          description: Available VCO, POP, and VCG target metadata
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/vco/vcg-blast-radius:
    get:
      tags: [VCO Dashboard]
      summary: Return blast-radius details for a VCG
      parameters:
        - in: query
          name: vcg
          required: true
          schema:
            type: string
          description: VCG name
      responses:
        '200':
          description: VCG blast-radius payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/vco/pop-maintenance-impact-batch:
    get:
      tags: [VCO Dashboard]
      summary: Return maintenance impact for multiple POPs
      responses:
        '200':
          description: Batch POP maintenance-impact payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /admin/corpus:
    get:
      tags: [Admin]
      summary: Render corpus health admin page
      description: HTML page backed by `data/ops.db` corpus status rows and best-effort Qdrant live counts.
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

  /admin/jobs:
    get:
      tags: [Admin]
      summary: Render proactive job history
      parameters:
        - in: query
          name: tool
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

  /admin/jobs/{name}/run:
    get:
      tags: [Admin]
      summary: Run a proactive job and stream status events
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
        - in: query
          name: vcenter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Server-sent event stream
          content:
            text/event-stream:
              schema:
                type: string
    post:
      tags: [Admin]
      summary: Trigger a proactive job asynchronously
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
        - in: query
          name: vcenter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Trigger status
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /admin/memory:
    get:
      tags: [Admin]
      summary: Render team memory browser
      parameters:
        - in: query
          name: search
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

  /admin/users:
    get:
      tags: [Admin]
      summary: Render user and token management page
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

  /admin/schedule:
    get:
      tags: [Admin]
      summary: Render scheduler configuration page
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

  /admin/audit:
    get:
      tags: [Admin]
      summary: Render audit log page
      parameters:
        - in: query
          name: status
          required: false
          schema:
            type: string
        - in: query
          name: tool
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

  /admin/pops:
    get:
      tags: [Admin]
      summary: Render POP configuration page
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

  /admin/capacity-alerts:
    get:
      tags: [Admin]
      summary: Render capacity alert configuration and history page
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

  /admin/vcos:
    get:
      tags: [Admin]
      summary: Render VCO token health dashboard
      responses:
        '200':
          description: Admin HTML
          content:
            text/html:
              schema:
                type: string

components:
  schemas:
    JsonRpcId:
      oneOf:
        - type: string
        - type: integer
        - type: 'null'

    McpRequest:
      type: object
      properties:
        jsonrpc:
          type: string
          example: '2.0'
        id:
          $ref: '#/components/schemas/JsonRpcId'
        method:
          type: string
          example: tools/list
        params:
          type: object
          additionalProperties: true
      required: [jsonrpc, method]

    McpResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          example: '2.0'
        id:
          $ref: '#/components/schemas/JsonRpcId'
        result:
          type: object
          additionalProperties: true
        error:
          $ref: '#/components/schemas/ErrorObject'

    ErrorObject:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          oneOf:
            - type: string
            - type: object
              additionalProperties: true

    ErrorResponse:
      type: object
      properties:
        detail:
          oneOf:
            - type: string
            - type: object
              additionalProperties: true

    McpHealthResponse:
      type: object
      properties:
        status:
          type: string
          example: healthy
        protocol:
          type: string
          example: MCP
        transport:
          type: string
          example: streamable-http
        rate_limiting:
          type: object
          properties:
            enabled:
              type: boolean
            per_vcenter:
              type: object
              additionalProperties: true
      required: [status, protocol, transport, rate_limiting]

    McpTool:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        inputSchema:
          type: object
          additionalProperties: true
      required: [name, description, inputSchema]

    CapabilitiesResponse:
      type: object
      properties:
        protocol_version:
          type: string
        server_info:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
        capabilities:
          type: object
          additionalProperties: true
        transport:
          type: string
        batch_requests:
          type: boolean

    AuthTokenRequest:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required: [username, password]

    AuthTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: bearer
        role:
          type: string
      required: [access_token, token_type, role]

    WhoAmIResponse:
      type: object
      properties:
        email:
          type: string
        role:
          type: string
        username:
          type: string
        allowed_subdomains:
          type: array
          items:
            type: string
        maintenance:
          $ref: '#/components/schemas/PortalMaintenance'
      required: [email, role, username, allowed_subdomains, maintenance]

    PortalMaintenance:
      type: object
      properties:
        enabled:
          type: boolean
        title:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        ends_at:
          type: string
          format: date-time
          nullable: true
        eta_text:
          type: string
          nullable: true
      required: [enabled]

    RoleCheckResponse:
      type: object
      properties:
        allowed:
          type: boolean
        email:
          type: string
        role:
          type: string
        subdomain:
          type: string
      required: [allowed, email, role, subdomain]

    VelopsFirewallRequest:
      type: object
      properties:
        project_summary:
          type: string
        source_addresses:
          type: string
        destination_addresses:
          type: string
        protocol:
          type: string
          enum: [TCP, UDP, ICMP, OTHER]
        port:
          type: string
        network_tags:
          type: array
          items:
            type: string
        justification:
          type: string
        protocol_other:
          type: string
          nullable: true
        attachments:
          type: array
          items:
            type: string
            format: binary
      required:
        - project_summary
        - source_addresses
        - destination_addresses
        - protocol
        - port
        - network_tags
        - justification

    VelopsFirewallAttachmentFailure:
      type: object
      properties:
        filename:
          type: string
        error:
          type: string
      required: [filename, error]

    VelopsFirewallAttachmentResult:
      type: object
      properties:
        key:
          type: string
          nullable: true
        uploaded:
          type: array
          items:
            type: string
        failed:
          type: array
          items:
            $ref: '#/components/schemas/VelopsFirewallAttachmentFailure'
        status:
          type: string
        url:
          type: string
          nullable: true
      required: [uploaded, failed, status]

    VelopsFirewallRequestSubmitted:
      type: object
      properties:
        project_summary:
          type: string
        protocol:
          type: string
        port:
          type: string
        network_tags:
          type: array
          items:
            type: string
      required: [project_summary, protocol, port, network_tags]

    VelopsFirewallRequestResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success, partial_success]
        issue_key:
          type: string
        issue_url:
          type: string
        summary:
          type: string
        labels:
          type: array
          items:
            type: string
        submitter_email:
          type: string
        attachments:
          $ref: '#/components/schemas/VelopsFirewallAttachmentResult'
        submitted:
          $ref: '#/components/schemas/VelopsFirewallRequestSubmitted'
      required:
        - status
        - issue_key
        - issue_url
        - summary
        - labels
        - submitter_email
        - attachments
        - submitted

    VcoDashboardResponse:
      type: object
      properties:
        vco:
          type: string
        version:
          type: object
          additionalProperties: true
        overview:
          type: object
          additionalProperties: true
        gateways:
          type: array
          items:
            type: object
            additionalProperties: true
        enterprises:
          type: array
          items:
            type: object
            additionalProperties: true
        fetched_at:
          type: string
          format: date-time
        errors:
          type: array
          items:
            type: object
            additionalProperties: true

    VcoHealthSummaryResponse:
      type: object
      properties:
        tunnel_counts:
          type: object
          additionalProperties:
            type: integer
        errors:
          type: array
          items:
            type: string

    VcoGatewayDetailResponse:
      type: object
      properties:
        gateway:
          type: string
        link_quality:
          type: object
          properties:
            latency_ms:
              type: number
              nullable: true
            packet_loss_pct:
              type: number
              nullable: true
            jitter_ms:
              type: number
              nullable: true
        blast_radius:
          type: object
          nullable: true
          additionalProperties: true
        errors:
          type: array
          items:
            type: string
